@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.18);
  display: none;
}

a {
  text-decoration: none;
}

.mobile_popup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.925);
}

.hamburger_icon {
  display: inline-block;
  width: 25px;
  height: 22px;
  position: fixed;
  z-index: 99;
}

.close_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  z-index: 99;
  position: fixed;
  cursor: pointer;
}

.inactive {
  display: none;
}

.popup_menu {
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: #272a31;
  opacity: 0.99;
  text-align: left;
  padding: 10%;
  font-size: 40px;
  line-height: 70px;
  padding-top: 100px;
  z-index: 98;
}

.popup_list {
  margin-top: 30px;
}

.nav_li {
  color: #ec5242;
  font-weight: 400;
}

.nav_li:hover {
  color: #fff;
  font-weight: 400;
}

.home_part {
  width: 100%;
  height: auto;
  background: url(./images/home_background_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.Introduction_section {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4.5%;
  padding-top: 60px;
}

.first_headline {
  font-size: 4vw;
  font-weight: 400;
  color: #eb5234;
}

.second_headline {
  font-weight: 900;
  display: block;
  background-image: url('./images/Introduction_background.jpg');
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8vw;
}

.text {
  margin: 15px 0 25px 0;
  border: solid #fff;
  color: #3e3e3e;
  background-color: #f7f7f7;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  padding: 2%;
}

.date {
  font-weight: 900;
  color: #3e3e3e;
  font-size: 3vw;
  margin-bottom: 10px;
}

.site {
  margin-bottom: 50px;
  color: #3e3e3e;
}

.program_section {
  width: 100%;
  max-height: 1200px;
  background-image: url(./images/program_background_image.jpeg);
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progam_sections_header {
  text-align: center;
  margin-top: 28px;
  color: #fff;
  width: 160px;
  padding-bottom: 10px;
}

.program_underline {
  width: 30px;
  border-color: #ec5242;
  margin-top: 0;
}

.program_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 46px;
}

.program_container_content {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.178);
  margin: 2px;
  padding: 15px 5px 15px 5px;
  text-align: center;
  margin-bottom: 12px;
}

.program_container_content:hover {
  transform: scale(1.04);
  border: solid #fff 1px;
}

.program_name {
  width: 20%;
  font-size: 18px;
  color: #ec5242;
  margin: 15px 0 15px 0;
}

.program_description {
  width: 62%;
  text-align: left;
  font-size: 15px;
  padding-left: 30px;
  color: #fff;
}

.icon_for_speech {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(./images/speech_icon.png);
  background-size: cover;
  margin-right: 10px;
}

.icon_for_exhibition {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(./images/exhibition_icon.png);
  background-size: cover;
  margin-right: 10px;
}

.icon_for_forum {
  display: inline-block;
  width: 40px;
  height: 35px;
  background-image: url(./images/forum_icon.png);
  background-size: cover;
  margin-right: 10px;
}

.icon_for_workshop {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./images/workshop_icon.png);
  background-size: cover;
  margin-right: 10px;
}

.icon_for_connection {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(./images/connection_icon.png);
  background-size: cover;
  margin-right: 10px;
}

.program_section_footer {
  display: none;
}

.program_section_footer_mobile {
  color: #fff;
  background-color: #ec5242;
  padding: 7%;
  margin: 35px 0;
}

.speakers_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.speakers_sections_header {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 28px;
}

.speakers_underline {
  width: 30px;
  border-color: #ec5242;
}

.speakers_container {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
}

.speaker {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  text-align: left;
}

.speaker_image_container {
  position: relative;
}

.speaker_image {
  width: 120px;
  height: 120px;
  position: relative;
}

.speaker_background {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  left: -15px;
  top: -15px;
}

.speaker_data {
  width: 70%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.speaker_name {
  margin-bottom: 5px;
  font-size: 18px;
}

.speaker_title {
  color: #ec5242;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
}

.speaker_underline {
  width: 20px;
  margin-bottom: 7px;
  margin-left: 0;
}

.speaker_description {
  font-size: 13px;
}

.partners_container {
  padding: 0 9px;
  width: 100%;
  height: auto;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.partners {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 65px 0;
}

.partners_logo {
  height: 35px;
  display: inline-block;
  margin: 15px;
  margin-top: 24px;
}

.bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
}

.logo_of_footer {
  display: inline-block;
  width: 100%;
  height: 34px;
  background-image: url(./images/kkkkk.PNG);
  background-position: center;
  background-repeat: no-repeat;
}

.bottom_footer p {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.about_container {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-top: 50px;
}

.about_header {
  display: block;
  color: #ec5242;
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

.about_line {
  width: 25px;
  border-color: #ec53426c;
}

.about_description {
  max-width: 100%;
  line-height: 150%;
  padding: 10px;
  margin: 15px 0 25px 0;
  border: solid #fff;
  color: #3e3e3e;
  background-color: rgb(243, 243, 243);
  text-align: center;
  margin-bottom: 40px;
}

.about_site {
  text-align: center;
}

.about_email {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.headline_about {
  color: #eb5234;
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 10px;
}

.logo_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  text-align: center;
  border-top: solid #f1f1f1 2px;
}

.logo_title {
  margin: 20px;
}

.logo_text {
  margin: 20px;
  width: 100%;
  text-align: center;
}

.logo_container {
  padding: 5%;
  border: solid #d3d3d3 2px;
  margin: 24px;
}

.logo {
  width: 60vw;
  max-width: 400px;
}

.previous_image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 48px 0;
}

.first_past_image {
  width: 350px;
  background-image: url(./images/2018_conference_image.webp);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 24px;
}

.second_past_image {
  width: 350px;
  background-image: url(./images/2020_conference_image.jpg);
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.past_title {
  font-size: 34px;
  margin: 24px;
}
